/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Kanit', sans-serif;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
  }
  
  img {
    margin-left: 50%;
    width: 50%;
  }
  
  h3 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #0E559E;
  }
  
  h1 {
    font-size: 200px;
    line-height: 200px;
    color: #0E559E;
  }
  
  .btn {
    background-color: #06a36e;
    color: #fff;
    border: 0;
    padding: 8px 100px;
    margin-top: 20px;
    font-size: 1.5rem;
  } */
  


/* Setup */

:root {
    /* color styles */
    --primary-lime-green: #5cb85f;
    --hero-color: #f1f3ff;
  
    /* font styles */
    --header-1: 36px;
    --font-regular: 14px;
    --font-semi-medium: 16px;
    --font-weight-bold: 700;
    --font-weight-regular: 300;
    --font-primary: #000;
    --font-medium: 24px;
  }
  
  /* penggunaan font Helvetica */
  body {
    font-family: Helvetica;
  }
  
  .btn-success {
    padding: 8px 12px;
    font-weight: var(--font-weight-bold) !important;
    background-color: var(--primary-lime-green) !important;
    border: none !important;
    font-size: var(--font-regular) !important;
  }
  
  .btn-success:focus {
    background-color: var(--primary-lime-green);
  }
  
  .btn-success:hover {
    background-color: var(--primary-lime-green);
  }
  
  /* Nav styles */
  nav {
    background-color: var(--hero-color);
  }
  
  .navbar {
    padding: 12px 0px;
    z-index: 5;
  }
  
  a.nav-link {
    margin-right: 32px;
    font-size: var(--font-regular);
    color: var(--font-primary) !important;
  }
  
  .offcanvas-end {
    width: 180px !important;
  }
  